/* styles.css */

body {
    position: fixed;
}

/* @media (orientation: landscape) {

    .speech {
        top: min(2vh, 2vw);
        left: min(40vh, 40vw);
    }
}

@media (orientation: portrait) {

    .speech {
        top: min(60vh, 60vw);
        left: min(30vh, 30vw);
    }
} */

#svgContainer {
    /* the viewbox of the svg is 1400 by 1100 */
    width: 80vmin;
    aspect-ratio: 14 / 11;
    top: 12vmin;
    left: 0px;
    position: absolute;
}

.speech {
    margin: 0px;
    top: 2vmin;
    left: 32vmin;
    z-index: -1;
}

.glass {
    background-color: rgba(255, 255, 255, .20);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.offWhite {
    background-color: #efefef;
}

.changeColor {
    transition: background-color 0.25s ease-out;
}